{%- extends "layouts/site1.njk" -%}
{%- block content %}
  {% include "src/_includes/partials/productpage/hero.njk" %}

  {% set twoImage = twoImage1 %}
  {% include "src/_includes/partials/productpage/two-image-containers.njk" %}

  {% set twoImage = twoImage2 %}
  {% include "src/_includes/partials/productpage/two-image-containers.njk" %}
{% endblock -%}
