---
layout: layouts/home.njk
title: "Übersicht über die Sites"
subline: "My subtitle"
permalink: /index.html
bodyClass: index
---
{%- extends "layouts/home.njk" -%}
{% block content %}
  <ul>
    <li><a href="site1/index.html">Site 1</a></li>
    <li><a href="site2/index.html">Site 2</a></li>
    <li><a href="site3/index.html">Site 3</a></li>
  </ul>

{% endblock %}
